.container-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.two-women {
    display: flex;
}


.image-container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-power{
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 130px;
    transform: translate(-50%, 35%);
}

