.fitness-center {
    background: #D9D9D9;
}

.fitness-container {
    padding-top: 111px;
    padding-bottom: 200px;
    max-width: 900px;

}




.center-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 55px;
    color: #141414;
    padding-bottom: 60px;
}

/* --------tab------- */



details {
    margin-bottom: 2px;
    border-bottom: 1px solid #141414;
}

.details-top {
    border-top: 1px solid #141414;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}


.time-center {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #141414;
}


.city-center {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 90%;
    padding-right: 400px;
    color: #141414;
}

.city-center-2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 90%;
    padding-right: 460px;
    color: #141414;
}

.city-center-3 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 90%;
    padding-right: 410px;
    color: #141414;
}

.city-center-4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 90%;
    padding-right: 415px;
    color: #141414;
}

.city-center-5 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 90%;
    padding-right: 388px;
    color: #141414;
}

.text-center {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 90%;
    color: #141414;
}

summary::after {
    content: "";
    display: inline-block;
    width: 31px;
    height: 31px;
    background: url("/icons/fitness-center.svg") no-repeat center / cover;
}


details[open] summary::after {
    transform: rotate(90deg);
}




details p {
    padding: 10px;
}

/* ------------------------------- */


.pos-relative-fcs {
    position: relative;
}

.city-center {
    display: inline-block;
    opacity: .9;
    transition: all .5s;
}


.city-center-2 {
    display: inline-block;
    opacity: .9;
    transition: all .5s;
}
.city-center-3 {
    display: inline-block;
    opacity: .9;
    transition: all .5s;
}
.city-center-4 {
    display: inline-block;
    opacity: .9;
    transition: all .5s;
}

.city-center-5 {
    display: inline-block;
    opacity: .9;
    transition: all .5s;
}
.city-center::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}
.city-center-2::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}
.city-center-3::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}
.city-center-4::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}

.city-center-5::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s ease;
}


.city-center-5:hover::before {
    background-color: #f47521;
}
.city-center:hover::before {
    background-color: #f47521;
}
.city-center-2:hover::before {
    background-color: #f47521;
}
.city-center-3:hover::before {
    background-color: #f47521;
}
.city-center-4:hover::before {
    background-color: #f47521;
}

.city-center:hover {
    opacity: 1;
}

.city-center-2:hover {
    opacity: 1;
}
.city-center-3:hover {
    opacity: 1;
}
.city-center-4:hover {
    opacity: 1;
}

.city-center-5:hover {
    opacity: 1;
}
