.classes {
    margin-top: 103px;
}

.container-timetable {
    text-align: center;
    margin-bottom: 145px;
    position: relative;
}

.classes-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
    color: #fff;
    padding-bottom: 50px;
}

.timetable-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
    padding-bottom: 62px;
}

.timetable-item {
    position: relative;
}

.timetable-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    opacity: .3;
    transition: all .5s;
}

.timetable-link::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: background-color 0.3s ease;
}

.timetable-link:hover::before {
    background-color: #f47521;
}

.timetable-link:hover {
    opacity: 1;
}


/* -----TABLE------- */

table {
    width: 70%;
    margin: 0 auto;
    /* центрирует таблицу по горизонтали */
    border-collapse: collapse;
    font-family: var(--font-family);
    font-size: 14px;
}



th,
td {
    border: 1px solid #ddd;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

th {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #b5b5b5;
}

td {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    text-align: center;
    color: #979797;
}

td:first-child {
    text-align: left;
    font-weight: bold;

    /* Убираем левую границу для первого столбца */
}

.fitness {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #fff;
}




table {
    border-collapse: collapse;

}

thead th {
    border-top: 0;
    border-left: 0;
}



tbody tr:last-child td {
    border-bottom: 0;
}

tbody tr td {
    border-left: 0;

}

.classes-img {
    position: absolute;
    top: 60px;
    right: 15px;

}

table tr>th:last-child,
table tr>td:last-child {
    border-right: none;
}