.meet-pros {
    margin-top: 85px;
}



.heading-meet {
    position: relative;
    text-align: center;
    margin-bottom: 86px;
}

.meet-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 60px;
    color: var(--main-color);
    margin-bottom: 15px;
}

.meet-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #979797;
    text-align: center;


}

.within-meet {
    position: absolute;
    bottom: -18px;
    left: -308px;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 290px;
    line-height: 98%;
    color: transparent;
    -webkit-text-stroke: 3px white;
}

/* ------article------------ */


.meet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 134px;
    position: relative;
}

.meet-card {
    position: relative;
}


.meet__sport {
    margin-bottom: 33px;
}

.text-afish {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: var(--secondary-color);

}



.gym-meet {
    padding-top: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    border-bottom: 1px solid var(--disabled-color);
    padding-bottom: 24px;
    text-transform: uppercase;
}


.vector__meet-img {
    position: absolute;
    top: 0px;
    right: -113px;
    z-index: -1;
}

/* --------hover------------ */




.image__meet-container {
    position: relative;
}

.image__meet-container img {
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 165, 0, 0);
    transition: background 0.3s ease;
}

.meet-card:hover .overlay {
    background: var(--programs-color);
}

/* Псевдоэлемент теперь создаётся для карточки, а не для .gym-meet */
.meet-card {
    position: relative;
    /* Обязательно для работы абсолютного позиционирования внутри */
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

.meet-card::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    /* Линия внизу карточки */
    width: 0;
    height: 3px;
    background-color: #ff9500;
    transition: width 1s ease;
    pointer-events: none;
}


.meet-card:hover::after {
    width: 100%;
}
.meet-card:hover{
    transform: scale(1.02);
}

.meet__pros-svg {
    position: absolute;
    top: 15px;
    right: 15px;
}