.container-weight {
    display: flex;
    justify-content: center;
}

.container-plan {
    display: flex;
    justify-content: center;
}

.article-good {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.title-training {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.2em;
    color: #f47521;
    padding-bottom: 10px;
}

.training-heading {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    padding-bottom: 10px;
}

.training-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 169%;
    color: #979797;
    max-width: 430px;
    padding-bottom: 25px;
}

.training-link {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;

}

.good-link {
    border-bottom: 2px solid #f47521;
    padding-bottom: 5px;
}

.training-flex {
    background-color: #303030;
    padding: 70px 17px 30px;
    position: relative;
}

.card-vector {
    position: absolute;
    top: 110px;
    left: 115px;
}



/* -------------------------- */
.good-img {
    position: relative;
}

.good-img img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 165, 0, 0);
    transition: background 0.3s ease;
}

.good-img:hover .overlay {
    background: var(--programs-color);

}