.approach {
  background-color: var(--disabled-color);
  overflow: hidden; /* Предотвращает появление скролла */
}

.approach-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 36px 0;
  white-space: nowrap;
  animation: scrollRight 20s linear infinite;
  width: max-content; /* Автоматическая ширина под содержимое */
}

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* Корректная анимация — на 50 % ширины */
  }
}

.approach-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  color: var(--bg-color);
  min-width: max-content; /* Предотвращает сжатие элементов */
}

.approach-item::before {
  content: '•';
  color: var(--secondary-color);
  margin-right: 27px;
  width: 1em;
  padding-right: 5px;
  font-size: 1em;
}