.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2px;
    margin-bottom: 40px;
}


.container-card {

    flex-wrap: wrap;


    box-sizing: border-box;
}


.card-main {
    border: 1px solid var(--main-color);
    background-color: var(--disabled-color);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card-main:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    border-color: var(--accent-color);
    
}



.card-poster {
    padding-top: 30px;
    padding-left: 30px;
    color: var(--secondary-color);
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.2em;
}

.card-title {
    padding: 15px 161px 100px 30px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: #141414;
}

.card-text {
    padding-left: 30px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 144%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #141414;
}

.card-svg {
    position: absolute;
    bottom: 5px;
    right: 20px;
    cursor: pointer;
    transition: all .3s;
}

.card-svg:hover {
    transform: scale(1.3);

}