    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: #bdc1c9;
    }

    .chest-container {
        position: relative;
        width: 300px;
        height: 200px;
    }

    .chest {
        width: 100%;
        height: 100%;
        background: url('/img/сундук.jpg') no-repeat center;
        background-size: cover;
        cursor: pointer;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .legend {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: #f0f0f0;
        font-size: 24px;
        font-family: 'Courier New', monospace;
        margin-bottom: 40px;
        border: 2px solid #f0f0f0;
        border-radius: 10px;
        padding: 15px;
        transition: all 1s;
    }

    .me {
        width: 300px;
        height: 300px;
    }

    .legend:hover {
        color: rgb(199, 155, 23);
        background: #000;

    }

    .legend span {
        text-align: center;
        padding-left: 17px;

    }

    .good {
        opacity: 0;
    }

    .image-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .image-container img {
        width: 100%;
        height: auto;
        transition: transform 1s ease-out, opacity 0.5s ease;
        transform-origin: center;
    }

    .active .chest {
        opacity: 0;
        transform: scale(0.9);
    }

    .active .image-container {
        display: flex;
    }

    .active .image-container img {
        transform: scale(4);
        opacity: 1;
        animation: flyIn 1s ease-out forwards;
    }

    @keyframes flyIn {
        0% {
            transform: scale(0) translateX(-100%);
            opacity: 0;
        }

        50% {
            transform: scale(1.2) translateX(20%);
        }

        100% {
            transform: scale(4) translateX(0);
            opacity: 1;
        }
    }