body{
    background: #393838;
    color: #fff;
    font-size: 40px;
}


.title{
    text-align: center;
    font-family: sans-serif;
}


.title::before{
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 2px #fff solid;
    background: #d76a6a;
    transform: translate(471px,45px);
}
.title::after{
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 2px #fff solid;
    background: #5f6ae5;
    transform: translate(758px,-44px);
}