:root {
    --general-text: #312c37;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #ffa55c;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    color: var(--general-text);
    background: var(--general-bg);
    line-height: 1.5;
}


.body--opened-menu {
    overflow: hidden;
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 160%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    background: #ffa55c;
    padding: 3px 15px;
    height: 62px;

    transition: all 1s;

}

.button:hover {
    background: #ff9138;
}


/* ========================================================= */


.header {
    background: url("../decor/bg-header\ \(1\).png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header-logo {
    display: block;
    max-width: 174px;
    z-index: 11;
}

.header-logo img {
    width: 100%;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav {}

.nav-list {
    display: flex;
    gap: 4vh 40px;

}

.nav-item {}

.nav-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;


    opacity: 0;
    transition: all 1s;
}

.nav-link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;
}


.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}


.burger-icon span::before {
    top: -8px;

}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}


.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ======================================= */

.hero {
    padding: 50px 0 140px;
}

.hero-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero-content {
    max-width: 519px;
}

.hero-info {
    color: #b197b3;
    text-transform: uppercase;
    line-height: 1.60;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-info span {
    display: flex;
    align-items: center;
}

.hero-info span::after {
    content: '';
    background: #b197b3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero-info span:last-child:after {
    content: none;

}



.hero_title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 82%;
    margin-bottom: 30px;
}

.hero-text {
    margin-bottom: 40px;
    max-width: 358px;
}

.hero-button {
    max-width: 358px;
    width: 100%;
}

.button {}

.hero-img {
    margin-right: 247px;
    position: relative;
}

.hero-img>img {
    width: 100%;
}

.hero-img__control {
    display: flex;
    position: absolute;
    left: calc(100% - 39px);
    bottom: 11%;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;
}

.hero-img__control--mobile {
    display: none;
}


.hero-img_button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #ffe0cb;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    position: relative;
}

.hero-img_button img {
    padding-left: 8.8%;
}


.hero-img_button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    inset: 5px;
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.hero-img_button:hover::before {
    opacity: 1;
}

/* ======================================= */





@media (max-width: 1200px) {
    .hero-img {
        margin: 0;
        max-width: 377px;
    }

    .hero-img__control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }
}


@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;


        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;

    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }



}


@media (max-width: 800px) {

    .hero-content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }


    .hero-img {
        display: none;
    }

    .hero-img__control--mobile {
        display: flex;
        margin: 0 0 30px;
    }
}

@media (max-width: 600px) {
   
    .hero{
        padding-bottom: 80px;
    }


  .hero-title{
    font-size: 12vw;
  }

}