:root {
  --general-text: #312c37;
  --accent-text: #1f1711;
  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;
  --accent-color: #ffa55c;
  --transition: all 0.4s;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--general-text);
  background: var(--general-bg);
  line-height: 1.5;
}

.body--opened-menu {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.main-about {
  padding: 140px 0;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 160%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 100px;
  background: #ffa55c;
  padding: 3px 15px;
  height: 62px;

  transition: all 1s;
}

.button:hover {
  background: #ff9138;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: #00000070;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal--opened {}

.modal-window {
  background: var(--general-bg);
  border-radius: 20px;
  padding: 0 60px 60px;
  position: relative;
  max-width: 428px;
}

.modal-cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-cancel path {
  transition: var(--transition);
}

.modal-cancel:hover path,
.modal-cancel:hover rect {
  stroke: #ac907a;
}

.modal-img {
  margin-left: 13px;
  margin-bottom: 15px;
  margin-top: -65px;
  max-width: 100%;
}

.modal-title {
  font-family: "Gabriola";
  font-size: 42px;
  line-height: 0.9;
  color: var(--accent-text);
  margin-bottom: 10px;
}

.modal-text {
  margin-bottom: 30px;
}

.modal-form {}

.modal-form-label {
  margin-bottom: 10px;
}

.field {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.field span {
  position: absolute;
  top: 12px;
  left: 28px;
  font-size: 11px;
  color: #ac907a;

  opacity: 0;
  transition: var(--transition);
  visibility: hidden;
}

.modal-form-input {
  display: block;
  width: 100%;
  background: #00000000;
  border: 1px solid #ac907a;
  border-radius: 100px;
  padding: 19px 42px 19px 28px;
  font-size: 16px;
  transition: var(--transition);
}

.modal-form-input:hover {
  border-color: var(--accent-color);
}

.modal-form-input::placeholder {
  color: #ac907a;
  transition: var(--transition);
}

.modal-form-input:hover::placeholder {
  color: var(--accent-color);
}

.modal-form-input:focus {
  padding: 26px 42px 12px 28px;
}

.modal-form-input:focus+span {
  opacity: 1;
  visibility: visible;
}

.button {
  width: 100%;
}

/* ========================================================= */

.header {
  background: url("../decor/bg-header\ \(1\).png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header-logo {
  display: block;
  max-width: 174px;
  z-index: 11;
}

.header-logo img {
  width: 100%;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav {}

.nav-list {
  display: flex;
  gap: 4vh 40px;
}

.nav-item {}

.nav-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 50%;

  opacity: 0;
  transition: all 1s;
}

.nav-link:hover::before {
  opacity: 1;
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  transition: all 0.4s;
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

.header-hero {
  padding: 50px 0 140px;
}

/* ======================================= */

.hero {
  padding: 50px 0 140px;
}

.hero-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}

.hero-content {
  max-width: 519px;
}

.hero-info {
  color: #b197b3;
  text-transform: uppercase;
  line-height: 1.6;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-info span {
  display: flex;
  align-items: center;
}

.hero-info span::after {
  content: "";
  background: #b197b3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  margin: 0 10px;
}

.hero-info span:last-child:after {
  content: none;
}

.hero_title {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 82%;
  margin-bottom: 30px;
}

.hero-text {
  margin-bottom: 40px;
  max-width: 358px;
}

.hero-button {
  max-width: 358px;
  width: 100%;
}

.button {}

.hero-img {
  margin-right: 247px;
  position: relative;
}

.hero-img>img {
  width: 100%;
}

.hero-img__control {
  display: flex;
  position: absolute;
  left: calc(100% - 39px);
  bottom: 11%;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  text-align: left;
}

.hero-img__control--mobile {
  display: none;
}

.hero-img_button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #ffe0cb;
  box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
  position: relative;
}

.hero-img_button img {
  padding-left: 8.8%;
}

.hero-img_button::before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);

  opacity: 0;
  transition: var(--transition);
}

.hero-img_button:hover::before {
  opacity: 1;
}

/* ======================================= */

.about {}

.about-inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px 53px;
}

.about-img {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  grid-row: 1/-1;
}

.about-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
}

.about-img__control {
  background: #957b97e6;
  display: flex;
  position: absolute;
  left: 5%;
  bottom: 4.7%;
  padding: 15px 20px;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  text-align: left;
  border-radius: 20px;
  color: var(--general-bg);
}

.about-img_button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: var(--general-bg);
  position: relative;
}

.about-img_button::before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 1px solid #ceaad0;

  opacity: 0;
  transition: var(--transition);
}

.about-img_button:hover::before {
  opacity: 1;
}

.about-heading {
  margin-bottom: 30px;
}

.about-title {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-text);
}

.about-title-text {}

.about-text {}

.about-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}

.about-grid-item {
  background: #ffe0cb;
  border-radius: 20px;
  padding: 29px 24px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-grid-img {
  border: 1px solid var(--general-text);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-grid-text {}

/* ============================================ */

/* ======================================= */

.footer {
  color: var(--general-bg);
  background: #ab8261;
  padding: 60px 0 66px;
}

.footer-inner {
  display: grid;
  gap: 40px 15px;
  justify-content: space-between;
  grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer-col:first-child {
  margin-top: -30px;
}

.footer-logo {
  display: block;
  max-width: 240px;
}

.footer-logo img {
  max-width: 100%;
}

.footer-logo-text {
  margin-bottom: 20px;
}

.socials {
  line-height: 0;
}

.socials-list {
  display: flex;
  gap: 15px;
}

.socilas-item {}

.socials-link {
  display: block;
}

.socials-link path {
  transition: var(--transition);
}

.socials-link:hover path {
  fill: var(--accent-color);
}

.footer-col-list {
  margin-top: -5px;
}

.footer-col-item {
  margin-bottom: 10px;
}

.footer-col-item:last-child {
  margin-bottom: 0px;
}

.footer-col-link {
  display: block;
  padding: 5px 0;
  position: relative;
  z-index: 1;
}

.footer-col-link::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -13px;
  z-index: -1;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 50%;
  opacity: 0;
  transition: var(--transition);
}

.footer-col-link:hover::before {
  opacity: 1;
}

.footer-contact-list {}

.footer-contact-item {
  margin-bottom: 10px;
}

.footer-contact-item:last-child {
  margin-bottom: 0;
}

.footer-col-tel {
  margin-bottom: 47px;
}

.footer-col-number {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  transition: var(--transition);
}

.footer-col-number:hover {
  color: var(--accent-color);
}

.footer-col-copy {
  color: #dec5b1;
}

/* ======================================= */
/* ======================================= */
/* ======================================== */

@media (max-width: 1200px) {
  .hero-img {
    margin: 0;
    max-width: 377px;
  }

  .hero-img__control {
    position: static;
    max-width: none;
    margin-top: 30px;
  }
}

@media (max-width: 1100px) {
  .about-img {
    grid-row: auto;
  }

  .about-body {
    align-self: center;
  }

  .about-grid {
    grid-column: 1/-1;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  /* ------------------- */

  .footer-inner {
    justify-content: center;
    grid-template: none;
    text-align: center;
    gap: 0;
  }

  .footer-col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer-col:nth-child(3) {
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .hero-content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hero-img {
    display: none;
  }

  .hero-img__control--mobile {
    display: flex;
    margin: 0 0 30px;
  }

  /* ------------------------------------------ */

  .about-inner {
    grid-template: none;
    gap: 40px 53px;
  }

  .about-img {
    max-width: 500px;
    justify-self: center;
  }

  .about-body {
    text-align: center;
  }

  .about-grid {
    grid-template: none;
  }

}

@media (max-width: 600px) {


  .main-about {
    padding: 60px 0px 80px;
  }

  /* ----------------------- */




  .header-hero {
    padding-bottom: 80px;
  }

  .hero-title {
    font-size: 12vw;
  }

  /* --------------------------- */





  .about-title {
    font-size: 12vw;
  }

  .about-img-control {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0;
    padding: 10px 15px;
  }


  .about-grid {
    gap: 15px;
  }

  .about-grid-item {
    padding: 10px 15px;
  }
}


@media (max-width: 450px) {
   
  .modal-img{
    width: 50%;
    margin-top: -45px;
  }

  .modal-title{
    font-size: 38px;
  }

  .modal-window {
    padding: 0px 15px 45px;
  }
}